include ../../source/_path
- var ch_num="#ch3-6/"
//- 章节
#ch3-6
    //-文段
    section
        p.h2 3.6 语句
        p.paragraph ECMA-262 规定了一组语句（也称为流控制语句）。从本质上看，语句定义了 ECMAScript 中的主要语法，语句通常使用一或多个关键字来完成给定任务。语句可以很简单，例如通知函数退出；也可以比较复杂，例如指定重复执行某个命令的次数。
