include ../../source/_path
- var ch_num="#ch3-1-1/"
//- 章节
#ch3-1-1
    //-文段
    section
        //- 三级级标题
        p.h3 3.1.1 区分大小写
        //- 基本段落
        p.paragraph 要理解的第一个概念就是 ECMAScript 中的一切（变量、函数名和操作符）都区分大小写。这也就意味着，变量名 test 和变量名 Test 分别表示两个不同的变量，而函数名不能使用 typeof，因为它是一个关键字（3.2 节介绍关键字），但 typeOf 则完全可以是一个有效的函数名。