include ../../source/_path
- var ch_num="#statement/"
//- 章节
#statement
    //-文段
    section
        p.h1 声明
        p.paragraph
            strong 本书《JavaScript 高级程序设计》（第三版）版权归原作者所有
        p.paragraph.important 本站仅以学习交流为目的，手动录入该书籍内容作为练习代码的用途，本站承诺绝不会将本书籍内容用作任何商业目的。如有侵权请联系删除！
