include ../../source/_path
- var ch_num="#ch2/"
//- 章节
#ch2
    //-文段
    section
        //- 一级标题
        p.h1 第 2 章 在HTML中使用 JavaScript
        p.paragraph 本章内容
        ul
            li 使用&lt;script&gt;元素
            li 嵌入脚本与外部脚本
            li 文档模式对 JavaScript 的影响
            li 考虑禁用 JavaScript 的场景
        //- 基本段落
        p.paragraph.
            只要一提到把 JavaScript 放到网页中，就不得不涉及 Web 的核心语言——HTML。在当初开发
            JavaScript 的时候，Netscape 要解决的一个重要问题就是如何做到让 JavaScript 既能与 HTML
            页面共存，又不影响那些页面在其他浏览器中的呈现效果。经过尝试、纠错和争论，最终的决定就是
            为 Web 增加统一的脚本支持。而 Web 诞生早期的很多做法也都保留了下来，并被正式纳入 HTML 规
            范当中。
include ch2-1
include ch2-1-1
include ch2-1-2
include ch2-1-3
include ch2-1-4
include ch2-1-5