include ../../source/_path
- var ch_num="ch6-2/"
//- 章节
#ch6-2
    //-文段
    section
        p.h2 6.2 创建对象
        p.paragraph 虽然 Object 构造函数或对象字面量都可以用来创建单个对象，但这些方式有个明显的缺点：使用同一个接口创建很多对象，会产生大量的重复代码。为解决这个问题，人们开始使用工厂模式的一种变体。
