include ../../source/_path
- var ch_num="ch6/"
//- 章节
#ch6
    //-文段
    section
        p.h1 第6章 面向对象的程序设计
        p.paragraph 本章内容
        ul
            li 理解对象属性
            li 理解并创建对象
            li 理解继承
        p.paragraph 面向对象（Object-Oriented，OO）的语言有一个标志，那就是它们都有类的概念，而通过类可以创建任意多个具有相同属性和方法的对象。前面提到过，ECMAScript中没有类的概念，因此它的对象也与基于类的语言中的对象有所不同。
        p.paragraph ECMA-262把对象定义为：“无序属性的集合，其属性可以包含基本值、对象或者函数。”严格来讲，这就相当于说对象是一组没有特定顺序的值。对象的每个属性或方法都有一个名字，而每个名字都映射到一个值。正因为这样（以及其他将要讨论的原因），我们可以把ECMAScript的对象想象成散列表：无非就是一组名值对，其中值可以是数据或函数。
        p.paragraph 每个对象都是基于一个引用类型创建的，这个引用类型可以是第5章讨论的原生类型，也可以是开发人员定义的类型。
include ch6-1
include ch6-1-1
include ch6-1-2
include ch6-1-3
include ch6-2
include ch6-2-1
include ch6-2-2
include ch6-2-3
include ch6-2-4
include ch6-2-5
include ch6-2-6
include ch6-2-7
include ch6-3
include ch6-3-1
include ch6-3-2
include ch6-3-3
include ch6-3-4
include ch6-3-5
include ch6-3-6
include ch6-4