include ../../source/_path
- var ch_num="ch5-3-2/"
//- 章节
#ch5-3-2
    //-文段
    section
        p.h3 5.3.2 日期格式化方法
        p.paragraph Date类型还有一些专门用于将日期格式化为字符串的方法，这些方法如下。
        ul
            li toDateString()——以特定于实现的格式显示星期几、月、日和年；
            li toTimeString()——以特定于实现的格式显示时、分、秒和时区；
            li toLocaleDateString()——以特定于地区的格式显示星期几、月、日和年；
            li toLocaleTimeString()——以特定于实现的格式显示时、分、秒；
            li toUTCString()——以特定于实现的格式完整的UTC日期。
        p.paragraph 与toLocaleString()和toString()方法一样，以上这些字符串格式方法的输出也是因浏览器而异的，因此没有哪一个方法能够用来在用户界面中显示一致的日期信息。
        p.paragraph.tips 除了前面介绍的方法之外，还有一个名叫toGMTString()的方法，这是一个与toUTCString()等价的方法，其存在目的在于确保向后兼容。不过，ECMAScript推荐现在编写的代码一律使用toUTCString()方法。