include source/_path
doctype
html
    head
        meta(charset="utf-8")
        title JavaScript 高级程序设计第三版
        link(rel="stylesheet" href="static/css/index.css")
        link(rel="stylesheet" href=csspath+"styles/monokai-sublime.css")
        script(src=jspath+"highlight.pack.js")
        script.
            hljs.initHighlightingOnLoad();
    body
        //主体
        main
            //- 声明
            include  chapters/ch00-preface/statement
            //-前言
            include chapters/ch00-preface/preface01
            include chapters/ch00-preface/preface02
            //章节
            include  chapters/ch01/ch1
            include  chapters/ch02/ch2
            include  chapters/ch03/ch3
            include  chapters/ch04/ch4
        //- 目录
        aside
            include  chapters/ch00-catalogue/catalogue